@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;}

.body{
    background-color: White;
    padding-left: 140px;
    padding-right: 140px;
    position: relative;
width: 1440px;
height: 3092px;
    
}
.nav-bar{width: 100%;
  
}
    .navbar{
        display: flex;
       
        flex-direction: row;
        justify-items: center;
        justify-content: space-between;
        align-items: center;
        
        
    
     
    }
    .logo-head-title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        gap: 11px;

    }
    .logo-title{
        margin-right: 90px;
    }
    .logo{
height: 62px;
width: 62px;

    }
    .nav-title{
        color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 32px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin: 17px;
margin-bottom: 15px;
    }

    .nav-item{
        display: flex;
        gap: 32px;
        padding: 16px;
        margin-top: 3px;
        
    
        
    }
    ul li{
        list-style-type: none;
    }
    .nav-item-home{color: rgb(254, 163, 1);
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        border: 0;
        background-color: white;

    }
    .nav-item-about{color: rgb(1, 172, 253);
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        border: 0;
        background-color: white;

    }
    .nav-item-facilities{color: rgb(5, 212, 223);
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        border: 0;
        background-color: white;

    }
    .nav-item-admission{color: rgb(93, 88, 239);
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        border: 0;
        background-color: white;
    }
    .btn-primary{
        border-radius: 12px;


background: rgb(254, 163, 1);

color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
align-items: center;
margin: 0px;
padding: 10px 60px;
text-align: center;

    }
    @media screen and (max-width:576px) {
     
        .navbar{
            
display: flex;
flex-direction: row;
margin: 0 auto;
width: auto;
border-bottom: 2px solid rgb(254, 163, 1);

        }
        #logo{
        
        }
        .nav-title, .btn-primary{
            display: none;
        }
        .nav-item{
        display: flex;
        flex-direction: column;
        }

        
    }
    /* banner */
    .shool-banner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }
    .banner-details{
        height: 331px;
        width: 640px;
     
        
        
    }
    .banner-title{
        font-family: Quicksand;
font-size: 56px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
margin: 0 auto;
    }
    .empowering-edit{
        color: rgb(254, 163, 1);
    }
    .towrd-vission{
        color: rgb(1, 172, 253);
    }
    .banner-profile{
        
    }
    .banner-description{
        color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
    }
    .btn-enroll{
        border-radius: 12px;
background: rgb(17, 17, 17);
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin: 24px 0px;
padding: 5px 25px;
    }
    .banner{
        margin-bottom: 60px;
        margin-top: 0px;
    }
    @media screen and (max-width:576px) {
.body{
    position: relative;
width: 390px;
height: 3319px;
background: rgb(255, 255, 255);
padding: 10px;
margin: 10px;

}
        .shool-banner{
            display: flex;
            flex-direction: column-reverse;
        width: auto;
            gap: 50px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            
        }

        .btn-enroll{
            align-items: center;
        }
.banner-details{ margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}
.banner-img{
    width: 90%;
}

    }
    /* curricillam */
    .curriculam{
        color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 46px;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 80px;
    }
    /* card-container */
    .card{
        padding: 60px 0px 60px 0px;
        
        background:url(../asset/images/bg.png) ,linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    }
    .card-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        gap: 28px;

    }
    .card-item1{
        
position: relative;
width: 367.8px;
height: 476.78px;
        display: flex;
        flex-direction: column;
       align-items: center;
        box-sizing: border-box;
        border: 0.94px solid rgb(222, 245, 255);
        border-radius: 18.86px;
        
        box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
        background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

    }
        
    
    .card-item2{
        position: relative;
width: 367.8px;
height: 481.5px;
        display: flex;
        flex-direction: column;
       align-items: center;
        box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

    }
    .card-item3{
        
position: relative;
width: 367.8px;
height: 476.78px;
        
        display: flex;
        flex-direction: column;
       align-items: center;
       box-sizing: border-box;
        border: 0.94px solid rgb(242, 232, 255);
        border-radius: 18.86px;
        
        box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
        background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

    }
    .card-items{
        gap: 10px;
        align-items: center;
        text-align: center;
    }
    .card-container > .card-img{
        
position: absolute;
width: 130.7px;
height: 111.94px;
left: 2.13%;
right: 2.3%;
top: 9.1%;
bottom: 9.05%;
    }
    .card-title{
        color: rgb(32, 32, 32);
font-family: Quicksand;
font-size: 24.52px;
font-weight: 700;
line-height: 30.65px;
letter-spacing: 0%;
text-align: center;
    }
    .card-details{
        color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
    }
    .btn-readmore1{
        color: rgb(100, 200, 255);
font-family: Quicksand;
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
border: none;
background-color: white;
    }
    .btn-readmore2{
        color: rgb(240, 170, 0);
font-family: Quicksand;
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
border: none;
background-color: white;
    }
    .btn-readmore3{
        color: rgb(135, 0, 255);
font-family: Quicksand;
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
border: none;
background-color: white;
    }
    .btn-slide{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        gap: 5px;
        
    }
    .btn-pre{
        padding-top: 5px;
        padding-bottom: 5px;
        height: 60px;
width: 60px;
        border: 1px solid Orange;
        border-radius: 30px;


background: rgb(254, 163, 1);
color: rgb(255, 255, 255);
font-family: Font Awesome 5 Free;
font-size: 24px;
font-weight: 900;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
    }
    .btn-next{color: rgb(255, 255, 255);
        font-family: Font Awesome 5 Free;
        font-size: 24px;
        font-weight: 900;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid Orange;
        border-radius: 30px;
height: 60px;
width: 60px;

background: rgb(254, 163, 1);
    }

@media screen and (max-width:576px) {
    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        gap: 28px;

    }
    
}


    /* stories */
    .story-title{
        color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 46px;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
    }
    
    
    #novem-button{
        font-family: Raleway;
        font-size: 15.34px;
        font-weight: 500;
        line-height: 28.76px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
    }
   .button-1st{ margin-left: 40px;
    margin-top: -200px;
    padding: 10px 38px 10px 38px;
        color: rgb(255, 255, 255);

        border-radius: 48px;

background: rgb(60, 216, 232);

    }
    .cards-title{
        color: rgb(0, 0, 0);
        font-family: Quicksand;
        font-size: 24px;
        font-weight: 700;
        line-height: 38.35px;
        letter-spacing: 0%;
        text-align: left;
        padding-left: 38px;
    }
    .img-containers img{
        
        width: 100%;
      border-radius: 16px;
    }
    .img-containers {
        width: 100%;
        border-radius: 16px;

        background: rgb(255, 255, 255);
    }
    .card-text{
        color: rgb(102, 102, 102);
        font-family: Raleway;
        font-size: 15.34px;
        font-weight: 500;
        line-height: 28.76px;
        letter-spacing: 0%;
        text-align: left;
        padding-left:38px;
        padding-right: 60px;
    }
   .story-1{
grid-area: story1;
width: 540.27px;
height: 630.52px;
   }
   .story-2{
grid-area: story2;
width: 290.69px;
height: 301.61px;
   }
   .story-3{
grid-area: story3;
width: 290.69px;
height: 301.61px;
   }
   .story-4{
grid-area: story4;
width: 290.69px;
height: 301.61px;
   }
   .story-5{
grid-area: story5;
width: 290.69px;
height: 301.61px;
   }

   
    .stories{
        background: url(../asset/images/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
       padding-left: 140px;
       padding-right: 140px;
        
    }
    .story-container{
        display: grid;
 gap: 18px;
        grid-template-areas: 
        "story1  story2 story3"
        "story1  story4 story5"
    }
    #img-stoer1{
        border-radius: 16px 16px 0px 0px;

        background:rgb(217, 217, 217);
    }
    .btn-2nd{ display:inline-block;
        margin-top: -50px;
        margin-left: 30px;
        width: 160px;
        
        border-radius: 47.93px;

background: rgb(149, 178, 38);
    }
    .btn-3ree{border-radius: 47.93px;

        background: rgb(93, 88, 240);
        display:inline-block;
        margin-top: -50px;
        margin-left: 30px;
        width: 160px;
    }
    .btn-4r{
        display:inline-block;
        margin-top: -50px;
        margin-left: 30px;
        width: 160px;
        border-radius: 47.93px;

background: rgb(149, 178, 38);
    }
    .btn-5th{
        display:inline-block;
        margin-top: -50px;
        margin-left: 30px;
        width: 140px;
        border-radius: 47.93px;

background: rgb(149, 178, 38);
    }
    .cards-titles{margin: 0% auto;
        color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 15.34px;
font-weight: 700;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
padding: 5px 20px 38px 33px;
    }
    #view-all{
        margin: 0 auto;
        border: 1px solid Black;
        border-radius: 12px;
background: rgb(45, 28, 28);
 padding: 5px 25px;
 margin-bottom: 40px;
    }
 .view{

    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding: 5px 10px 5px 10px;
 } 
 @media screen and (max-width:576px) {

    .story-container{
        display: grid;
 gap: 18px;
        grid-template-areas: 
        " story2 story3"
        " story4 story5";
        width: auto;
    }
    .story-1{
        display: none;
    }
    .img-containers{
        position: relative;
width: 173.09px;
height: 179.59px;
    }
.cards-titles{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 9.13px;
font-weight: 700;
line-height: 17.12px;
letter-spacing: 0%;
text-align: left;
}
#novem-button{
    color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 9.13px;
font-weight: 500;
line-height: 17.12px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
.btn-2nd{ display:inline-block;
    border-radius: 28.54px;

    background: rgb(149, 178, 38);
    width: 103.91px;
height: 22.83px;
margin-top: -40px;
}
.btn-3ree{
    border-radius: 28.54px;

background: rgb(93, 88, 240);
width: 103.91px;
height: 22.83px;
}
.btn-4r{
    display:inline-block;
    border-radius: 28.54px;

    background: rgb(93, 88, 240);
    width: 103.91px;
height: 22.83px;
}
.btn-5th{
    display:inline-block;
    margin-top: -50px;
    border-radius: 28.54px;

background: rgb(149, 178, 38);
width: 75.88px;
height: 22.83px;

}

 }





 /* footer */
 .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    background: rgb(1, 172, 253);
    border: 1px solid rgb(1, 172, 253);
  
padding: 123px 225px 176px 140px;
 }
 .footer-box{
display: flex;
flex-direction: column;

 }
 .img-titlewith{
    width: 299.71px;
height: 81.65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
 }
 .para{
    margin-top: 20px;
 }
 .footer-head{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 42.14px;
font-weight: 700;
line-height: 39.51px;
letter-spacing: 0%;
text-align: left;
 }
 .footer-para{
   
     border: 0px solid;
    width: 399.02px;
height: 100px;
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
 }.about-school{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
 }
 .footer-btn{
  list-style: none;
 padding: 0;
 
 }
 .li-btn{

    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    text-align: left;
    
 }
 .second-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
 }
 .footer-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
.third-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.keep-touch{
    color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 26px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.logo-footer{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
@media screen and (max-width:576px) {




    .footer-container{
        display: flex;
        flex-direction: column;
        padding: 0px;
        padding-left: 8px;
    }
}