@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;}

.body{
    background-color: White;
    
}

    .navbar{
        display: flex;
       gap: 180px;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        align-items: center;
        
    
     
    }
    .logo-head-title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        gap: 11px;

    }
    .logo{
height: 62px;
width: 62px;

    }
    .nav-title{
        color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 32px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin: 17px;
margin-bottom: 15px;
    }

    .nav-item{
        display: flex;
        gap: 32px;
        padding: 16px;
        margin-top: 3px;
        
    
        
    }
    ul li{
        list-style-type: none;
    }
    .nav-item-home{color: rgb(254, 163, 1);
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        border: 0;
        background-color: white;

    }
    .nav-item-about{color: rgb(1, 172, 253);
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        border: 0;
        background-color: white;

    }
    .nav-item-facilities{color: rgb(5, 212, 223);
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        border: 0;
        background-color: white;

    }
    .nav-item-admission{color: rgb(93, 88, 239);
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        border: 0;
        background-color: white;
    }
    .btn-primary{
        border-radius: 12px;


background: rgb(254, 163, 1);

color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
align-items: center;
margin: 0px;
padding: 10px 60px;
text-align: center;

    }
    @media screen and (max-width:576px) {
        .navbar{
            
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;

        }
        #logo{
        
        }
        .nav-title, .btn-primary{
            display: none;
        }
        .nav-item{
        display: flex;
        flex-direction: column;
        }
        
    }
    /* banner */
    .shool-banner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }
    .banner-details{
        height: 331px;
        width: 640px;
     
        
        
    }
    .banner-title{
        font-family: Quicksand;
font-size: 56px;
font-weight: 700;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
margin: 0 auto;
    }
    .empowering-edit{
        color: rgb(254, 163, 1);
    }
    .towrd-vission{
        color: rgb(1, 172, 253);
    }
    .banner-profile{
        
    }
    .banner-description{
        color: rgb(17, 17, 17);
font-family: Quicksand;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
    }
    .btn-enroll{
        border-radius: 12px;
background: rgb(17, 17, 17);
color: rgb(255, 255, 255);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin: 24px 0px;
padding: 5px 25px;
    }
    .banner{
        margin-bottom: 60px;
        margin-top: 0px;
    }
    /* curricillam */
    .curriculam{
        color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 46px;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 80px;
    }
    /* card-container */
    .card{
        padding: 60px 0px 60px 0px;
        margin-bottom: 60px;
        background:url(../asset/images/bg.png) ,linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    }
    .card-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        gap: 28px;

    }
    .card-item1{
        
position: relative;
width: 367.8px;
height: 476.78px;
        display: flex;
        flex-direction: column;
       align-items: center;
        box-sizing: border-box;
        border: 0.94px solid rgb(222, 245, 255);
        border-radius: 18.86px;
        
        box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
        background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

    }
        
    
    .card-item2{
        position: relative;
width: 367.8px;
height: 481.5px;
        display: flex;
        flex-direction: column;
       align-items: center;
        box-sizing: border-box;
border: 0.94px solid rgb(255, 244, 220);
border-radius: 18.86px;

box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

    }
    .card-item3{
        
position: relative;
width: 367.8px;
height: 476.78px;
        
        display: flex;
        flex-direction: column;
       align-items: center;
       box-sizing: border-box;
        border: 0.94px solid rgb(242, 232, 255);
        border-radius: 18.86px;
        
        box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
        background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

    }
    .card-items{
        gap: 10px;
        align-items: center;
        text-align: center;
    }
    .card-container > .card-img{
        
position: absolute;
width: 130.7px;
height: 111.94px;
left: 2.13%;
right: 2.3%;
top: 9.1%;
bottom: 9.05%;
    }
    .card-title{
        color: rgb(32, 32, 32);
font-family: Quicksand;
font-size: 24.52px;
font-weight: 700;
line-height: 30.65px;
letter-spacing: 0%;
text-align: center;
    }
    .card-details{
        color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
    }
    .btn-readmore1{
        color: rgb(100, 200, 255);
font-family: Quicksand;
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
border: none;
background-color: white;
    }
    .btn-readmore2{
        color: rgb(240, 170, 0);
font-family: Quicksand;
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
border: none;
background-color: white;
    }
    .btn-readmore3{
        color: rgb(135, 0, 255);
font-family: Quicksand;
font-size: 15.09px;
font-weight: 700;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
border: none;
background-color: white;
    }
    .btn-slide{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        gap: 5px;
        
    }
    .btn-pre{
        padding-top: 5px;
        padding-bottom: 5px;
        height: 60px;
width: 60px;
        border: 1px solid Orange;
        border-radius: 30px;


background: rgb(254, 163, 1);
color: rgb(255, 255, 255);
font-family: Font Awesome 5 Free;
font-size: 24px;
font-weight: 900;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
    }
    .btn-next{color: rgb(255, 255, 255);
        font-family: Font Awesome 5 Free;
        font-size: 24px;
        font-weight: 900;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid Orange;
        border-radius: 30px;
height: 60px;
width: 60px;

background: rgb(254, 163, 1);
    }
    /* stories */
    .story-title{
        color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 46px;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
    }
    .first-card{
        border-radius: 16px 16px 0px 0px;

background: url(../asset/images/bg.png),rgb(217, 217, 217);
    }
   .button-1st{
    
        color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
        border-radius: 47.93px;

background: rgb(60, 216, 232);
    }
   .story-1{
grid-area: story1;
   }
   .story-2{
grid-area: story2;
   }
   .story-3{
grid-area: story3;
   }
   .story-4{
grid-area: story4;
   }
   .story-5{
grid-area: story5;
   }

   
    .stories{
        background: url(../asset/images/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);


    }
    .story-container{
        display: grid;
        grid-template-areas: 
        "story1  story2 story3"
        "story1  story4 story5"
    }